body { min-width:600px; margin-top:70px }

.header { position:fixed; 
	  top:0px; 
	  left:0px; 
	  height:70px; 
	  margin:auto; 
	  width:100%; 
	  //color:0586D1; 
	  color:#AAAAAA;
	  background-color:black; 
	  text-align:center;
	  vertical-align:middle; }

.header ul  { padding-top:15px; }
.header li  { display: inline-block; float: left; padding-left: 15px; padding-right: 15px; }
.header a   { display: inline-block; vertical-align: bottom; text-decoration: none; }
.header a:visited, .header a:link { color:#AAAAAA; text-decoration: none; }
.navlink a:visited, .navlink a:link { color:#222;text-decoration: none; }
.header a:hover   { color:#DADADA }
a:link.active,a:visited.active     { color:#FFFFFF; font-size:large; }
.header img { float: left; }

.nav {
    margin:auto;
}

.sidenav ul, .navlink li {
    list-style-type: none;
}

.sidenav li:hover, .navlink a:hover {
    color:#DADADA;
}

.centered {
    text-align:center;
}

.debug {
    border : solid 1px black;
}

div.hover {
    display: block;
    position: absolute;
    background-color:lightgreen;
}
div.hover_hide {
    display: none
}
.login  { float:right; margin-right:15px; padding-right:15px; display:inline-block; vertical-align:middle; }

.logged_in {
    float:right;
    color:rgb(198, 194, 236);
}
a.hotlink:visited, a.hotlink:hover, a.hotlink, .hotlink {
    color:rgb(198, 194, 236);
}
.error {
    color: orange;
}
.info {
    color: purple;

}