<style>
.editing {
    background-color: lightyellow;
    border: solid 2px black;
    padding-right: 10px;
    min-width:100px; }
.edit_allowed {
    padding-right: 10px;
}
</style>

<script type="text/template" class="yote_template_definition" template_name="listpaginate">
    <#
        fills the template for each item in the list
        arguments :
            template
            paginated list object
     #>
    <???

    if( ctx.args.length > 1 ) {
        var template = ctx.args[ 0 ];
        var pag_list = ctx.parent.parse( ctx.args[ 1 ] );
        var size     = ctx.args[ 2 ];
        var more     = ctx.args.length > 3 ? ctx.args.slice( 3 ) : [];
        pag_list.set_size( size );
        return pag_list.to_list().map( function ( item, idx ) {
            return '<$$ _listfillpagrow ' + template + ' ' + ctx.args[ 1 ] + ' ' + idx + ' ' + more.join(' ') + ' $$>';
        } ).join('');
    }
    console.log( 'error in template listpaginate : not enough arguments ( requires 2 ) : ' + '<$$ listpaginate ' + ctx.args.join(' ') + ' $$>' );
    return '';
    ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="_listfillpagrow">
   <???
      var template = ctx.args[ 0 ]; // fillpagrow
      var pag_list = ctx.parent.parent.parse( ctx.args[ 1 ] );
      var list     = pag_list.to_list();
      var idx      = ctx.args[ 2 ];
      var more = ctx.args.length > 3 ? ctx.args.slice( 3 ) : [];
      ctx.vars._ = list[ idx ];
      ctx.vars._index_ = Number(idx) + pag_list._start;
      return '<$$ ' + template + ' ' + more.join( ' ' ) + ' $$>';
    ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="listfill">
    <#
        fills the template for each item in the list
        arguments :
            template
            list
     #>
    <???
    if( ctx.args.length > 1 ) {
        var template = ctx.args[ 0 ];
        var list = ctx.parse( ctx.args[ 1 ] );
        var more = ctx.args.length > 2 ? ctx.args.slice( 2 ) : [];
        return list.map( function ( item, idx ) {
            return '<$$ _listfillrow ' + template + ' ' + ctx.args[ 1 ] + ' ' + idx + ' ' + more.join(' ') + ' $$>';
        } ).join('');
    }
    console.log( 'error in template listfill : not enough arguments ( requires 2 ) : ' + '<$$ listfill ' + ctx.args.join(' ') + ' $$>' );
    return '';
    ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="_listfillrow">
   <???
      var template = ctx.args[ 0 ];
      var list     = ctx.parse( ctx.args[ 1 ] );
      var idx      = ctx.args[ 2 ];
      var more = ctx.args.length > 3 ? ctx.args.slice( 3 ) : [];
      ctx.vars._ = list[ idx ];
      ctx.vars._index_ = idx;
      return '<$$ ' + template + ' ' + more.join( ' ' ) + ' $$>';
    ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="hashpaginate">
    <#
        fills the template for each item in the list
        arguments :
            template
            paginated list object
     #>
    <???

    if( ctx.args.length > 1 ) {
        var template = ctx.args[ 0 ];
        var pag_hash = ctx.parent.parse( ctx.args[ 1 ] );
        var size     = ctx.args[ 2 ];
        pag_hash.set_size( size );
        var more     = ctx.args.length > 3 ? ctx.args.slice( 3 ) : [];
        var pag_keys = pag_hash.keys();
        return pag_keys.map( function ( item, idx ) {
            return '<$$ _hashfillpagrow ' + template + ' ' + ctx.args[ 1 ] + ' ' + item + ' ' + more.join(' ') + ' $$>';
        } ).join('');
    }
    console.log( 'error in template hashpaginate : not enough arguments ( requires 2 ) : ' + '<$$ hashpaginate ' + ctx.args.join(' ') + ' $$>' );
    return '';
    ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="_hashfillpagrow">
   <???
      var template = ctx.args[ 0 ]; // fillpagrow
      var hash_pag = ctx.parent.parent.parse( ctx.args[ 1 ] );
      var hash     = hash_pag.to_hash();
      var key      = ctx.args[ 2 ];
      var more     = ctx.args.length > 3 ? ctx.args.slice( 3 ) : [];
      ctx.vars._ = hash[ key ];
      ctx.vars._hashkey_ = key;
      return '<$$ ' + template + ' ' + more.join( ' ' ) + ' $$>';
    ???>
</script>


<script type="text/template" class="yote_template_definition" template_name="hashfill">
    <#
        fills the template for each item in the hash based on a sorting ( alphabetic or other )
        arguments :
            template
            hash
     #>
    <???
    if( ctx.args.length > 1 ) {
        var template = ctx.args[ 0 ];
        var hash = ctx.parse( ctx.args[ 1 ] );
        var more = ctx.args.length > 2 ? ctx.args.slice( 2 ) : [];
        var keys = Object.keys( hash ).sort();
        return keys.map( function ( item, idx ) {
            return '<$$ _hashfillrow ' + template + ' ' + ctx.args[ 1 ] + ' ' + keys[idx] + ' ' + more.join(' ') + ' $$>';
        } ).join('');
    }
    console.log( 'error in template hashfill : not enough arguments ( requires 2 ) : ' + '<$$ hashfill ' + ctx.args.join(' ') + ' $$>' );
    return '';
    ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="_hashfillrow">
   <???
      var template = ctx.args[ 0 ];
      var hash     = ctx.parse( ctx.args[ 1 ] );
      var key      = ctx.args[ 2 ];
      var more = ctx.args.length > 3 ? ctx.args.slice( 3 ) : [];
      ctx.vars._ = hash[ key ];
      ctx.vars._hashkey_ = key;
      return '<$$ ' + template + ' ' + more.join( ' ' ) + ' $$>';
    ???>
</script>




<script type="text/template" class="yote_template_definition" template_name="edit_hash_with_select_scalars">
    <# edit takes an object and a field to edit and builds a way to edit this. Uses hash method rather than
       editing object directly. #>
    <???
         if( ctx.args.length == 4 ) {
             var list = ctx.parse( ctx.args[ 0 ] );
             ctx.vars.object = ctx.parse( ctx.args[ 1 ] );
             ctx.vars.hash = ctx.args[ 2 ];
             ctx.vars.field = ctx.parse( ctx.args[ 3 ] );
             var curval = ctx.vars.object.hash_fetch( { name : ctx.vars.hash, key : ctx.vars.field } );
             // TODO - escap the value there
             return '<$$$ sel <select> $$$>' + list.map(function(it,idx) { return '<option ' + ( curval == it ? ' selected ' : '' ) + ' value="' + it + '">' + it + '</option>' } ).join('') + '</select>';
         } else {
             console.log( "error in template 'edit_hash_with_select_scalars' : wrong number of arguments." );
             return '';
         }
         return '';
    ???>
    <?
       $( ctx.controls.sel ).change( function() {
           ctx.vars.object.hash( { name : ctx.vars.hash, key : ctx.vars.field, value : $( ctx.controls.sel ).val() } );
           ctx.refresh();
       } );
    ?>
</script>


<script type="text/template" class="yote_template_definition" template_name="escape_html">
  <???
      if( ctx.args.length*1 == 1 ) {
          var val = ctx.parse( ctx.args[ 0 ] );
          return val;
	  }
      return 'xxxx';
  ???>
</script>

<script type="text/template" class="yote_template_definition" template_name="list_remove_button">
    <???
        var collection_to_remove_from = ctx.args[ 0 ] || ctx.vars.__;
        ctx.set( 'collection_to_remove_from', collection_to_remove_from );

        var key_to_remove = ctx.args[ 1 ] || ctx.hashkey_or_index;
        ctx.set( 'remove_key', key_to_remove );

        var lbl = ctx.args[ 2 ] || 'Remove';
        return '<$$$ remove_button <button type="button">$$$>' + lbl + '</button>';
    ???>
    <?
        $( ctx.controls.remove_button ).click( function() {
            ctx.vars.collection_to_remove_from.remove( ctx.vars.remove_key );
            ctx.refresh();
        } );
     ?>
</script>

<script type="text/template" class="yote_template_definition" template_name="list_remove_ask">
    <???
        var collection_to_remove_from = ctx.args[ 0 ] || ctx.vars.__;
        ctx.set( 'collection_to_remove_from', collection_to_remove_from );
        var key_to_remove = ctx.args[ 1 ] || ctx.hashkey_or_index;
        ctx.set( 'remove_key', key_to_remove );

        var lbl = ctx.args[ 2 ] || 'Remove';
        return '<$$$ remove_button <button type="button">$$$>' + lbl + '</button>';
    ???>
    <?
        $( ctx.controls.remove_button ).click( function() {
            if( confirm( "Are you sure you want to delete this?" ) ) {
                ctx.vars.collection_to_remove_from.remove( ctx.vars.remove_key );
                ctx.refresh();
            }
        } );
     ?>
</script>

<script type="text/template" class="yote_template_definition" template_name="Logged_in">
   Logged in as <$ _acct_.handle $><BR>
   <$$$ logout <a href="#">Log Out</a> $$$>
   <?
     $( ctx.controls.logout ).click( function() {
         $.yote.logout();
         $.yote.reinit();
         ctx.refresh();
     } );
    ?>
</script>

<script type="text/template" class="yote_template_definition" template_name="Login">
   <$$$ messages <span><$ _app_.login_message "Please Log In" $></span> $$$><BR>
   <$$$ handle <input placeholder="handle" type="text"> $$$>
   <$$$ password <input placeholder="password" type="password"> $$$>
   <$$$ login <button type="BUTTON">Log In</button> $$$>
     <BR>
   <$$$ forgot <a href="#">Forgot Account</a> $$$>
   <$$$ create <a href="#">Create Account</a> $$$>
   <?
       $.yote.util.button_actions({
           button :  ctx.controls.login,
           texts  :  [ ctx.controls.handle, ctx.controls.password ],
           action : function() {
               $.yote.login( $( ctx.controls.handle ).val(),
                             $( ctx.controls.password ).val(),
                             function(msg) {
                                 if( ctx.scratch.requires_admin && ! $.yote.has_root_permissions() ) {
                                     $( ctx.controls.messages ).empty().append( "Error : root login required" );
                                     $.yote.logout();
                                     $.yote.need_reinit = true;
                                 }
                                 $.yote.reinit();
                                 ctx.refresh();
                             },
                             function(err) {
                                 $( ctx.controls.messages ).empty().append( err );
                             } );
           }
           } );
         $( ctx.controls.forgot ).click( function() {
             ctx.scratch.forgot_login = true;
             ctx.refresh();
         } );
         $( ctx.controls.create ).click( function() {
             ctx.scratch.create_login = true;
             ctx.refresh();
         } );
    ?>
</script>


<script type="text/template" class="yote_template_definition" template_name="Paginator">
 <???
     var collection = ctx.parent.parse( ctx.args[ 0 ] );
     if( collection.can_rewind() || collection.can_fast_forward() ) {
         return '<$$$ paginate_to_beginning_button <button type="BUTTON">&laquo;</button> $$$>' +
      '<$$$ paginate_back_button <button type="BUTTON">&lsaquo;</button> $$$>' +
      '<$$$ paginate_forward_button <button type="BUTTON">&rsaquo;</button> $$$>' +
      '<$$$ paginate_to_end_button <button type="BUTTON">&raquo;</button> $$$>';
     }
      return '';
  ???>
 <?

     if( ctx.args.length < 1 ) return;

     var collection = ctx.parent.parse( ctx.args[ 0 ] );

     if( ! collection || ! collection.can_rewind ) { //test if it has that function
         console.log( 'warning : init_paginator called for something not a list or hash' );
         return;
     }
     var pag_begin_button_id    = ctx.controls.paginate_to_beginning_button,
          pag_back_button_id    =  ctx.controls.paginate_back_button,
          pag_forward_button_id =  ctx.controls.paginate_forward_button,
          pag_end_button_id     =  ctx.controls.paginate_to_end_button;

     if( collection.can_rewind() ) {
         $( pag_begin_button_id ).attr( 'disabled', false );
         $(  pag_back_button_id ).attr( 'disabled', false );
         $(  pag_begin_button_id ).click( function() { 
                           collection.first();
                           $.yote.reinit();
                           ctx.refresh(); 
                           } );
         $(  pag_back_button_id ).click( function() { 
                           collection.back();
                           $.yote.reinit();
                           ctx.refresh(); 
                           } );
     } else {
         $(  pag_begin_button_id ).attr( 'disabled', true );
         $(  pag_back_button_id ).attr( 'disabled', true );
     }
     if( collection.can_fast_forward() ) {
         $(  pag_forward_button_id ).attr( 'disabled', false );
         $(  pag_end_button_id ).attr( 'disabled', false );
         $(  pag_forward_button_id ).click( function() {
             collection.forwards();
             $.yote.reinit();
             ctx.refresh();
         } );
         $(  pag_end_button_id ).click( function() { collection.last();
                                                     $.yote.reinit();
                                                     ctx.refresh(); } );
     } else {
         $(  pag_forward_button_id ).attr( 'disabled', true );
         $(  pag_end_button_id ).attr( 'disabled', true );
     }
  ?>
</script>

<script type="text/template" class="yote_template_definition" template_name="SearchHash">
    <#
       SearchHash searches through a hash and filters the results.
       Provides a search box.
       <$$ SearchHash wrappeddata keys|values optional-list-of-fields-to-search-through
    #>
    Search
       <$$$ srchtxt <input type="text"> $$$>
          <$$$ go <button type="button">$$$>Search</button>
    <?
      if( ctx.args.length > 1 ) {
          var data = ctx.parse( ctx.args[ 0 ] );
          var search_key = ctx.args[ 1 ] == 'keys';
          var search_fields = ctx.args.slice( 2 );
          if( data._last_val ) {
              $( ctx.controls.srchtxt ).val( data._last_val );
          }
          $.yote.util.button_actions( {
              button : ctx.controls.go,
              texts : [ ctx.controls.srchtxt ],
              action : function() {
                  var val = $( ctx.controls.srchtxt ).val();
                  data._last_val = val;
                  if( search_key ) {
                      data.set_filter( function( k, v, a  ) {
                          return k.match( val );
                      } );
                  } else if( search_fields.length > 0 ) {
                      var has_get = $.yote._subj_has_get_p();
                      data.set_filter( function( k, v, a ) {
                          for( var i=0, len=search_fields.length; i<len; i++ ) {
                              if( has_get ? v.get( search_fields[i] ).match( val ) : v[ search_fields[i] ].match( val ) ) {
                                  return true;
                              }
                          }
                          return false;
                      } );
                  } else {
                      data.set_filter( function( k, v ) {
                          return v.match( val );
                      } );
                  }
                  ctx.refresh();
              }
          } );
      }       
    ?>
</script>
